@use "sass:string" as *;

// Creates dates for calendar table.
@mixin counter($month, $indent, $outdent) {
	.#{$month} {
		counter-reset: unquote($month);
		counter-set: unquote($month) -#{$indent};

		@if ($indent == 0) { margin-top: 0 !important; }

		td::after {
			counter-increment: unquote($month);
			content: counter(unquote($month));
		}

		tr:first-child td:nth-child(-n+#{$indent})::after,
		tr:last-child td:nth-child(n+#{8 - $outdent})::after {
			@extend %counter-content;
		}

		tr:first-child td:nth-child(#{$indent + 1})::after {
			@extend %first-counter;
		}
	}
}

// Creates widths for event overlays.
@mixin width($n) {
	.blank-#{$n}, .filled-#{$n} {
		width: calc(100% / 7 * #{$n});
		&5 { width: calc(100% / 7 * #{$n}.5) }
	}
}

// Labels and colors event overlays.
@mixin overlay($initials, $name, $color) {
	.#{$initials}::after {
		--name: "#{$name}";

		@if index(#{$color}, ",") {
			background-image: linear-gradient(90deg, $color);
		} @else {
			background-color: $color;
		}
	}
}
