@use "sass:string" as *;

// Creates dates for calendar table
@mixin counter($month, $indent, $outdent: 7) {
	.#{$month} {
		counter-reset: unquote($month);
		counter-set: #{$month} -#{$indent};

		td::after {
			counter-increment: unquote($month);
			content: counter(unquote($month));
		}

		tr:first-child td:nth-of-type(-n+#{$indent})::after,
		tr:last-child td:nth-of-type(n+#{8 - $outdent})::after {
			content: ""
		}
	}
}

// Creates widths for event overlays
@mixin width($n) {
	.blank-#{$n}, .filled-#{$n} { width: calc(100% / 7 * #{$n}) }
	.blank-#{$n}5, .filled-#{$n}5 { width: calc(100% / 7 * #{$n}.5) }
}

// Labels and colors event overlays
@mixin overlay($initials, $name, $color) {
	.#{$initials}.start::after, .#{$initials}.end::after { content: $name }
	.#{$initials}.start ~ .#{$initials}.end::after { content: "\00A0" }

	@if index(#{$color}, ",") {
		.#{$initials}::after { background-image: linear-gradient(90deg, $color) }
	} @else {
		.#{$initials}::after { background-color: $color }
	}
}