@charset "UTF-8";
@use "mixins" as *;
@use "fonts";
@use "events";
@use "months";

// General
*, ::after, ::before { box-sizing: border-box }

body {
	--fonts: "Roboto Condensed", sans-serif;
	--gray: hsl(0, 0%, 50%);
	--overlay-margin: 0.625rem;
	--page-margin: 20px;
	--row-height: 4.6rem;

	background-color: black;
	font-family: var(--fonts);
	margin: var(--page-margin);
}

main {
	margin: auto;
	width: min(100%, 600px);
}

article:not(.selected) { display: none }

p {
	color: hsl(0, 0%, 60%);
	margin-bottom: 2.5em;
}

::-webkit-scrollbar {
	width: 10px;
	&-thumb { background-color: var(--gray) }
}



// Navigation
nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4em;
	justify-content: center;
	left: var(--page-margin);
	position: fixed;
	top: var(--page-margin);
	width: fit-content;
	z-index: 1;

	@media (min-width: 950px) and (max-width: 1270px) {
		flex-direction: column;
	}

	@media (max-width: 950px) {
		margin: 0 auto 1.4em auto;
		position: sticky;
	}
}

button {
	-webkit-tap-highlight-color: transparent;
	background-color: black;
	border-radius: 15px;
	border: 1px solid var(--gray);
	color: white;
	cursor: pointer;
	font-family: var(--fonts);
	font-size: 1rem;
	padding: 0.2em 0.7em;
	transition-duration: 100ms;
	user-select: none;

	&.selected {
		background-color: white;
		border-color: white;
		color: initial;
	}

	@media (min-width: 950px) {
		&:hover { opacity: 0.8 }
		&:active { opacity: 0.9 }
	}
}



// Calendar
// Container
section {
	position: relative;
	&:not(:first-of-type) { margin-top: calc(var(--row-height) * -1) }
	@media (max-width: 695px) { margin-left: 1.4rem }
}

.row-5 {
	height: calc(var(--row-height) * 5);
	tr, .events div { height: calc(100% / 5) }
}

.row-6 {
	height: calc(var(--row-height) * 6);
	tr, .events div { height: calc(100% / 6) }
}

// Header
h1 {
	color: white;
	font-size: 1.2rem;
	font-weight: 400;
	left: -1.2em;
	margin: 0;
	position: absolute;
	text-align: right;
	transform: translateX(-100%);

	span {
		color: var(--gray);
		display: block;
		font-family: "Bender", var(--fonts);
		font-size: 1rem;
	}

	@media (max-width: 855px) {
		// letter-spacing adds extra space at the end.
		font-size: 0.9rem;
		left: -1.5em;
		letter-spacing: 0.3em;
		padding-left: 0.3em;
		text-transform: uppercase;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
		white-space: nowrap;

		span {
			display: initial;
			font-size: 0.9rem;
			letter-spacing: 0.2em;
			padding-right: 0.1em;
		}
	}
}

// Dates
table {
	border-spacing: 0;
	height: 100%;
	width: 100%;

	td {
		color: white;
		font-size: 0.75rem;
		vertical-align: top;
		width: calc(100% / 7);
	}
}

@each $month, $indent, $outdent in months.$list {
	@include counter($month, $indent, $outdent);
}

// Extended by counter mixin.
%counter-content { content: "" }

%first-counter {
	background-color: white;
	border-radius: 50%;
	color: initial;
	margin-left: -0.5em;
	padding: 0.14em 0.5em;
}

// Events
.events {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;

	div {
		position: relative;
		scroll-margin-top: var(--row-height);
	}
}

[class|="filled"]::after {
	background-color: magenta;
	content: "\200B";
	font-size: 0.87rem;
	overflow: hidden;
	padding: 0.2em 0.5em;
	position: absolute;
	text-overflow: ellipsis;
	top: 40%;
	white-space: nowrap;
	width: 100%;
}

.start::after {
	border-radius: 2px 0 0 2px;
	content: var(--name);
	left: var(--overlay-margin);
	width: calc(100% - var(--overlay-margin));
}

.end {
	&::after {
		border-radius: 0 2px 2px 0;
		right: var(--overlay-margin);
		width: calc(100% - var(--overlay-margin));
	}

	&.label::after {
		content: var(--name);
		text-align: right;
	}
}

.copied::after {
	--name: "Copied!" !important;
	font-style: initial !important;
}

.italic::after { font-style: italic }
[title]::after { cursor: help }

@each $initials, $name, $color in events.$list {
	@include overlay($initials, $name, $color);
}

@for $i from 0 through 7 {
	@include width($i);
}



// GitHub link
a {
	--icon-size: 50px;
	-webkit-tap-highlight-color: transparent;
	background: center / contain no-repeat url("../../images/closure.svg");
	border-radius: 50%;
	bottom: var(--page-margin);
	display: block;
	height: var(--icon-size);
	position: fixed;
	right: var(--page-margin);
	transition: background-image 200ms ease-out, opacity 100ms;
	width: var(--icon-size);

	&:hover {
		background-image: url("../../images/github.svg");
		transition-duration: 300ms;
	}

	&:active {
		opacity: 0.6; 
		transition-duration: 100ms;
	}

	@media (max-width: 850px) {
		--icon-size: 40px;
		margin: auto;
		margin-top: 1.2rem;
		position: initial;
	}
}
