body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px;
}
body *, body ::after, body ::before {
  box-sizing: border-box;
}

main {
  margin: auto;
  width: min(100%, 600px);
}

p {
  color: #8f8f8f;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
}

header {
  border-top: 1px solid grey;
  color: white;
  font-size: 1.2rem;
  margin: 1.2em 0;
  padding-top: 1.9em;
}
header:first-of-type {
  border: none;
  padding-top: 1em;
}

.row-5 {
  height: 370px;
  position: relative;
}
.row-5 tr, .row-5 .events div {
  height: calc(100% / 5);
}

.row-6 {
  height: 444px;
  position: relative;
}
.row-6 tr, .row-6 .events div {
  height: calc(100% / 6);
}

table {
  height: 100%;
  width: 100%;
}
table td {
  color: white;
  font-size: 0.75rem;
  vertical-align: top;
  width: calc(100% / 7);
}

.apr-21 {
  counter-reset: apr-21;
  counter-set: apr-21 -4;
}
.apr-21 td::before {
  counter-increment: apr-21;
  content: counter(apr-21);
}
.apr-21 tr:first-child td:nth-of-type(-n+4)::before,
.apr-21 tr:last-child td:nth-of-type(n+7)::before {
  content: "";
}

.may-21 {
  counter-reset: may-21;
  counter-set: may-21 -6;
}
.may-21 td::before {
  counter-increment: may-21;
  content: counter(may-21);
}
.may-21 tr:first-child td:nth-of-type(-n+6)::before,
.may-21 tr:last-child td:nth-of-type(n+3)::before {
  content: "";
}

.jun-21 {
  counter-reset: jun-21;
  counter-set: jun-21 -2;
}
.jun-21 td::before {
  counter-increment: jun-21;
  content: counter(jun-21);
}
.jun-21 tr:first-child td:nth-of-type(-n+2)::before,
.jun-21 tr:last-child td:nth-of-type(n+5)::before {
  content: "";
}

.jul-21 {
  counter-reset: jul-21;
  counter-set: jul-21 -4;
}
.jul-21 td::before {
  counter-increment: jul-21;
  content: counter(jul-21);
}
.jul-21 tr:first-child td:nth-of-type(-n+4)::before,
.jul-21 tr:last-child td:nth-of-type(n+8)::before {
  content: "";
}

.aug-21 {
  counter-reset: aug-21;
  counter-set: aug-21 -0;
}
.aug-21 td::before {
  counter-increment: aug-21;
  content: counter(aug-21);
}
.aug-21 tr:first-child td:nth-of-type(-n+0)::before,
.aug-21 tr:last-child td:nth-of-type(n+4)::before {
  content: "";
}

.sep-21 {
  counter-reset: sep-21;
  counter-set: sep-21 -3;
}
.sep-21 td::before {
  counter-increment: sep-21;
  content: counter(sep-21);
}
.sep-21 tr:first-child td:nth-of-type(-n+3)::before,
.sep-21 tr:last-child td:nth-of-type(n+6)::before {
  content: "";
}

.oct-21 {
  counter-reset: oct-21;
  counter-set: oct-21 -5;
}
.oct-21 td::before {
  counter-increment: oct-21;
  content: counter(oct-21);
}
.oct-21 tr:first-child td:nth-of-type(-n+5)::before,
.oct-21 tr:last-child td:nth-of-type(n+2)::before {
  content: "";
}

.nov-21 {
  counter-reset: nov-21;
  counter-set: nov-21 -1;
}
.nov-21 td::before {
  counter-increment: nov-21;
  content: counter(nov-21);
}
.nov-21 tr:first-child td:nth-of-type(-n+1)::before,
.nov-21 tr:last-child td:nth-of-type(n+4)::before {
  content: "";
}

.dec-21 {
  counter-reset: dec-21;
  counter-set: dec-21 -3;
}
.dec-21 td::before {
  counter-increment: dec-21;
  content: counter(dec-21);
}
.dec-21 tr:first-child td:nth-of-type(-n+3)::before,
.dec-21 tr:last-child td:nth-of-type(n+7)::before {
  content: "";
}

.events {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.events div {
  overflow: hidden;
  position: relative;
}
.events [class|=filled]::after {
  background-color: magenta;
  bottom: 30%;
  content: "";
  display: grid;
  font-size: 0.87rem;
  height: 30%;
  padding: 0 0.5em;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}
.events .start::after {
  border-radius: 2px;
  left: 10px;
  place-items: center left;
}
.events .end::after {
  border-radius: 2px;
  place-items: center right;
  right: 10px;
}
.events .blank-0, .events .filled-0 {
  width: calc(100% / 7 * 0);
}
.events .blank-05, .events .filled-05 {
  width: calc(100% / 7 * 0.5);
}
.events .blank-1, .events .filled-1 {
  width: calc(100% / 7 * 1);
}
.events .blank-15, .events .filled-15 {
  width: calc(100% / 7 * 1.5);
}
.events .blank-2, .events .filled-2 {
  width: calc(100% / 7 * 2);
}
.events .blank-25, .events .filled-25 {
  width: calc(100% / 7 * 2.5);
}
.events .blank-3, .events .filled-3 {
  width: calc(100% / 7 * 3);
}
.events .blank-35, .events .filled-35 {
  width: calc(100% / 7 * 3.5);
}
.events .blank-4, .events .filled-4 {
  width: calc(100% / 7 * 4);
}
.events .blank-45, .events .filled-45 {
  width: calc(100% / 7 * 4.5);
}
.events .blank-5, .events .filled-5 {
  width: calc(100% / 7 * 5);
}
.events .blank-55, .events .filled-55 {
  width: calc(100% / 7 * 5.5);
}
.events .blank-6, .events .filled-6 {
  width: calc(100% / 7 * 6);
}
.events .blank-65, .events .filled-65 {
  width: calc(100% / 7 * 6.5);
}
.events .blank-7, .events .filled-7 {
  width: calc(100% / 7 * 7);
}
.events .blank-75, .events .filled-75 {
  width: calc(100% / 7 * 7.5);
}
.events .rb.start::after, .events .rb.end::after {
  content: "Rewinding Breeze";
}
.events .rb.start ~ .rb.end::after {
  content: "";
}
.events .rb::after {
  background-image: linear-gradient(90deg, #dd5f20, #faa03a);
}
.events .mn.start::after, .events .mn.end::after {
  content: "Maria Nearl";
}
.events .mn.start ~ .mn.end::after {
  content: "";
}
.events .mn::after {
  background-color: #517cf1;
}
.events .fmn.start::after, .events .fmn.end::after {
  content: "Forget Me Not";
}
.events .fmn.start ~ .fmn.end::after {
  content: "";
}
.events .fmn::after {
  font-style: italic;
}
.events .fmn::after {
  background-image: linear-gradient(90deg, #dca8df, #adb4fa);
}
.events .cc3.start::after, .events .cc3.end::after {
  content: "Contingency Contract #3";
}
.events .cc3.start ~ .cc3.end::after {
  content: "";
}
.events .cc3::after {
  background-image: linear-gradient(90deg, #7d599e, #b996e0);
}
.events .cobr.start::after, .events .cobr.end::after {
  content: "Code of Brawl Re...";
}
.events .cobr.start ~ .cobr.end::after {
  content: "";
}
.events .cobr::after {
  background-image: linear-gradient(90deg, #6f87ff 25%, #C062FF);
}
.events .mb.start::after, .events .mb.end::after {
  content: "Mansfield Break";
}
.events .mb.start ~ .mb.end::after {
  content: "";
}
.events .mb::after {
  background-color: #df5944;
}
.events .bh.start::after, .events .bh.end::after {
  content: "Beyond Here";
}
.events .bh.start ~ .bh.end::after {
  content: "";
}
.events .bh::after {
  background-image: linear-gradient(90deg, #ff8902, #ffde2c);
}
.events .cc4.start::after, .events .cc4.end::after {
  content: "Contingency Contract #4";
}
.events .cc4.start ~ .cc4.end::after {
  content: "";
}
.events .cc4::after {
  background-image: linear-gradient(90deg, #3a9b9e, #2f7d83, #3361cc);
}
.events .wir.start::after, .events .wir.end::after {
  content: "Who is Real";
}
.events .wir.start ~ .wir.end::after {
  content: "";
}
.events .wir::after {
  background-image: linear-gradient(90deg, #648a80 30%, #bed8be);
}
.events .ood.start::after, .events .ood.end::after {
  content: "Operation Originium Dust";
}
.events .ood.start ~ .ood.end::after {
  content: "";
}
.events .ood::after {
  background-image: linear-gradient(90deg, #a05d27 20%, #f7b819);
}
.events .dmr.start::after, .events .dmr.end::after {
  content: "Darknights Memoir Rerun";
}
.events .dmr.start ~ .dmr.end::after {
  content: "";
}
.events .dmr::after {
  background-image: linear-gradient(90deg, #81849b 30%, #7a271c);
}
.events .awitd.start::after, .events .awitd.end::after {
  content: "A Walk in the Dust";
}
.events .awitd.start ~ .awitd.end::after {
  content: "";
}
.events .awitd::after {
  background-image: linear-gradient(90deg, #ded9d3, #516a77, #585858);
}
.events .ut.start::after, .events .ut.end::after {
  content: "Under Tides";
}
.events .ut.start ~ .ut.end::after {
  content: "";
}
.events .ut::after {
  background-image: linear-gradient(90deg, #4d8075, #707070);
}
.events .cc5.start::after, .events .cc5.end::after {
  content: "C...";
}
.events .cc5.start ~ .cc5.end::after {
  content: "";
}
.events .cc5::after {
  background-image: linear-gradient(90deg, #3685da, #4d67aa 35%, #ee5766);
}

a {
  background: center/contain no-repeat url("../svg/github.svg");
  bottom: 20px;
  display: block;
  height: 50px;
  position: fixed;
  right: 20px;
  transition-duration: 100ms;
  width: 50px;
}
a:hover {
  opacity: 0.6;
}
@media (max-width: 800px) {
  a {
    height: 40px;
    position: initial;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */