@use "mixins" as *;

// General
*, ::after, ::before { box-sizing: border-box }

body {
	background-color: black;
	font-family: "Roboto Condensed", sans-serif;
	margin: 20px;
}

main { 
	margin: auto;
	width: 600px;

	@media (max-width: 650px) { width: 100% }
}

p { color: #8f8f8f }

::-webkit-scrollbar { width: 10px }
::-webkit-scrollbar-thumb { background-color: grey }



// Calendar
// Header
header {
	border-top: 1px solid grey;
	color: white;
	font-size: 1.2rem;
	margin: 20px 0 10px;
	padding-top: 20px;

	&:first-of-type {
		border: none;
		padding-top: 10px;
	}
}

// Dates
header + div { position: relative }

.row-5 { height: 370px }
.row-6 { height: 444px }

table, .events { height: 100%; width: 100% }

.row-5 tr, .row-5 .events div { height: calc(100% / 5) }
.row-6 tr, .row-6 .events div { height: calc(100% / 6) }

td {
	color: white;
	font-size: 0.75rem;
	vertical-align: top;
	width: calc(100% / 7);
}

@include counter(apr-21, 4, 6);
@include counter(may-21, 6, 2);
@include counter(jun-21, 2, 4);
@include counter(jul-21, 4);
@include counter(aug-21, 0, 3);
@include counter(sep-21, 3, 5);
@include counter(oct-21, 5, 1);
@include counter(nov-21, 1, 3);
@include counter(dec-21, 3, 6);



// Events
.events {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	
	div {
		overflow: hidden;
		position: relative;
	}

	[class|="filled"]::after {
		background-color: magenta;
		bottom: 30%;
		content: "";
		display: grid;
		font-size: 0.87rem;
		height: 30%;
		padding: 0 6px;
		position: absolute;
		white-space: nowrap;
		width: 100%;
	}

	.start::after {
		border-radius: 2px;
		place-items: center left;
		left: 10px;
	}
	.end::after {
		border-radius: 2px;
		place-items: center right;
		right: 10px;
	}
}

@for $i from 0 through 7 {
	@include width($i);
}

$awitd: #ded9d3, #516a77, #585858;
$bh:    #ff8902, #ffde2c;
$cc3:   #795699, #a683ce;
$cc4:   #2d8c8f, #2d6b70, #2454c2;
$cc5:   #2479d3, #435c9b 35%, #ec4152;
$cob:   #6f87ff 70%, #ffe957;
$dm:    #76788f 30%, #6a2017;
$fmn:   #dca8df, #adb4fa;
$mb:    #dd523d;
$mn:    #517cf1;
$ood:   #a05d27 20%, #f7b819;
$rb:    #dd5f20, #faa03a;
$ut:    #345c54, #484b47;
$wir:   #648a80 30%, #bed8be;

@include overlay(rb, $rb, Rewinding Breeze);
@include overlay(mn, $mn, Maria Nearl);
@include overlay(fmn, $fmn, Forget Me Not, true);
@include overlay(cc3, $cc3, "Contingency C... #3", $override: "Contingency Contract #3");
@include overlay(cob, $cob, Code of Brawl Rerun);
@include overlay(mb, $mb, Mansfield Break);
@include overlay(bh, $bh, Beyond Here);
@include overlay(cc4, $cc4, "Contingency Contract #4");
@include overlay(wir, $wir, Who is Real);
@include overlay(ood, $ood, Operation Originium Dust);
@include overlay(dm, $dm, Darknights Memoir Rerun);
@include overlay(awitd, $awitd, A Walk in the Dust);
@include overlay(ut, $ut, Under Tides);
@include overlay(cc5, $cc5, "C...");



// GitHub link 
a {
	background: center / contain no-repeat url("../svg/github.svg");
	bottom: 20px;
	display: block;
	height: 50px;
	position: fixed;
	right: 20px;
	transition-duration: 100ms;
	width: 50px;

	&:hover {
		opacity: 0.6;
	}

	@media (max-width: 800px) {
		height: 40px;
		position: unset;
		width: 100%;
	}
}