@use "mixins" as *;

// General
body {
	background-color: black;
	font-family: "Roboto Condensed", sans-serif;
	margin: 20px;

	*, ::after, ::before { box-sizing: border-box }
}

main { 
	margin: auto;
	width: min(100%, 600px);
}

p { color: hsl(0, 0%, 55%) }

::-webkit-scrollbar {
	width: 10px;
	&-thumb { background-color: hsl(0, 0%, 50%) }
}



// Calendar
// Header
header {
	border-top: 1px solid hsl(0, 0%, 50%);
	color: white;
	font-size: 1.2rem;
	margin: 1.1em 0;
	padding-top: 1.8em;

	&:first-of-type {
		border: none;
		padding-top: 0.5em;
	}
}

// Container
header + div { position: relative }

.row-5 {
	height: 23rem;
	tr, .events div { height: calc(100% / 5) }
}

.row-6 {
	height: (23rem / 5 * 6);
	tr, .events div { height: calc(100% / 6) }
}

// Dates
table {
	height: 100%;
	width: 100%;

	td {
		color: white;
		font-size: 0.75rem;
		vertical-align: top;
		width: calc(100% / 7);
	}
}

@include counter(apr-21, 4, 6);
@include counter(may-21, 6, 2);
@include counter(jun-21, 2, 4);
@include counter(jul-21, 4);
@include counter(aug-21, 0, 3);
@include counter(sep-21, 3, 5);
@include counter(oct-21, 5, 1);
@include counter(nov-21, 1, 3);
@include counter(dec-21, 3, 6);

// Events
.events {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	
	div { position: relative }
}

[class|="filled"]::after {
	background-color: magenta;
	content: "\00A0";
	font-size: 0.87rem;
	overflow: hidden;
	padding: 0.2em 0.5em;
	position: absolute;
	text-overflow: ellipsis;
	top: 40%;
	white-space: nowrap;
	width: 100%;
}

.start::after {
	border-radius: 2px 0 0 2px;
	left: 10px;
	width: calc(100% - 10px);
}

.end::after {
	border-radius: 0 2px 2px 0;
	right: 10px;
	text-align: right;
	width: calc(100% - 10px);
}

[title]::after { cursor: help }

@for $i from 0 through 7 {
	@include width($i);
}

@include overlay("awitd", "A Walk in the Dust", (hsl(33, 14%, 85%), hsl(201, 19%, 39%), hsl(0, 0%, 35%)));
@include overlay("bh", "Beyond Here", (hsl(32, 100%, 50%), hsl(51, 100%, 59%)));
@include overlay("cc3", "Contingency Contract #3", (hsl(271, 28%, 48%), hsl(268, 54%, 73%)));
@include overlay("cc4", "Contingency Contract #4", (hsl(182, 46%, 42%), hsl(184, 47%, 35%), hsl(222, 60%, 50%)));
@include overlay("cc5", "Contingency Contract #5", (hsl(211, 69%, 53%), hsl(223, 38%, 48%) 35%, hsl(354, 82%, 64%)));
@include overlay("cobr", "Code of Brawl Rerun", (hsl(230, 100%, 72%) 25%, hsl(276, 100%, 69%)));
@include overlay("dmr", "Darknights Memoir Rerun", (hsl(233, 12%, 56%) 30%, hsl(7, 63%, 29%)));
@include overlay("fmn", "Forget Me Not", (hsl(297, 46%, 77%), hsl(235, 89%, 83%)), true);
@include overlay("mb", "Mansfield Break", (hsl(8, 71%, 57%)));
@include overlay("mn", "Maria Nearl", (hsl(224, 85%, 63%)));
@include overlay("ood", "Operation Originium Dust", (hsl(27, 61%, 39%) 20%, hsl(43, 93%, 53%)));
@include overlay("rb", "Rewinding Breeze", (hsl(20, 75%, 50%), hsl(32, 95%, 60%)));
@include overlay("ut", "Under Tides", (hsl(167, 25%, 40%), hsl(0, 0%, 44%)));
@include overlay("wir", "Who is Real", (hsl(164, 16%, 47%) 30%, hsl(120, 25%, 80%)));



// GitHub link 
a {
	background: center / contain no-repeat url("../svg/github.svg");
	bottom: 20px;
	display: block;
	height: 50px;
	position: fixed;
	right: 20px;
	transition-duration: 100ms;
	width: 50px;

	&:hover { opacity: 0.6 }

	@media (max-width: 880px) {
		margin: auto;
		position: initial;
	}
}