// Hex regex: #[A-Fa-f0-9]{6}

$colors: (
	"adic":    (#DAD4A0, #C3BA79, #6C6443),
	"af":      (#B8B8B8 20%, #AC2021),
	"alsid":   (#B9C0D7, #475060),
	"aow":     (#A0A0A0, #CF4420),
	"awitd":   (#DED9D3, #7594A6, #7B7B7B),
	"bh":      (#FB985D, #FBCE00),
	"bti":     (#D7E8FA, #7D8B98),
	"cc":      (#9E847B),
	"cc0":     (#F07373, #E43F3F),
	"cc1":     (#F7DC5A, #C38921),
	"cc10":    (#8F6A53, #C89968),
	"cc11":    (#B5DEDE, #2A5971),
	"cc12":    (#E37D7D, #DA3939),
	"cc2":     (#FF8D6A, #FD4B42),
	"cc3":     (#9F7EC1, #D7B3FF),
	"cc4":     (#45B5B8, #3D9FA5, #5781F7),
	"cc5":     (#4399FA, #FC818A),
	"cc6":     (#C3C176, #646C4C),
	"cc7":     (#CCB789 15%, #0B698E),
	"cc8":     (#D98761, #4365AA),
	"cc9":     (#72ACA9, #4C6F6F),
	"ccowov":  (#f7e652),
	"cob":     (#8094F8 25%, #C07DEE),
	"cou":     (#F5A204, #F3781E),
	"dh":      (#FE677C),
	"dm":      (#9093A8 30%, #C1655D),
	"dv":      (#8BA349, #CECCC9),
	"fmn":     (#DDA9DF, #ADB3FA),
	"ga":      (#E5BA57, #B9C1CA),
	"gatkt":   (#B1ACB1),
	"gtgcr":   (#49EBE9, #6F75F7),
	"hde":     (#E6ECEA, #BAC5C7),
	"hosf":    (#D9E6DF, #A4FDFD),
	"ibaw":    (#FEFBD0, #ADD059),
	"ic1":     (#FF8943),
	"icec":    (#8493FC, #FAB145),
	"is":      (#9D9D9D, #5E7686),
	"is1":     (#76D6F7),
	"itw":     (#E3A562, #F6624D),
	"l":       (#F8F6E6 40%, #87C1AF, #ECA93B, #9A2D28),
	"lcf":     (#EA855C),
	"le":      (#C1925C, #ABAAAC),
	"mb":      (#F67364),
	"mc1":     (#EEBD1F, #777578),
	"mn":      (#6A8EFF),
	"nl":      (#6DA4F2, #E2E9F9, #ED8A90),
	"oi":      (#E7D255),
	"ood":     (#ECAF28 20%, #CE782F),
	"pl":      (#FF8853 20%, #D8D6CF),
	"poeo":    (#FFFFFF 15%, #D6090A),
	"ps":      (#F08A89, #C43130),
	"ra1":     (#C9D660),
	"rb":      (#FF7C4A, #FA9F38),
	"slahafh": (#FFCAC8),
	"sn":      (#C6A369),
	"soa":     (#0BB1FE, #2A82FF),
	"ssved":   (#748FA2, #C4D1D9),
	"tbc":     (#C7BDAA, #564934),
	"tfn1":    (#FFB703),
	"tfn2":    (#FFB703),
	"tfn3":    (#FFB703),
	"tow":     (#D7BF60 20%, #606266),
	"ut":      (#559889, #737977),
	"v":       (#D6D7D9, #3B4B33),
	"wir":     (#7FB2A5 30%, #BFD9BF),
	"wtfc":    (#C0AEC8, #554D93),
	"wvwwnb":  (#E4BC69, #B77A3D)
);
