@use "sass:string" as *;

// Generates styles to color event overlays.
@mixin overlay($id, $color) {
	.overlay .#{$id} {
		@if index(#{$color}, ",") {
			background-image: linear-gradient(90deg, $color);
		} @else {
			background-color: $color;
		}
	}
}
