@charset "UTF-8";
@use "mixins" as *;
@use "events";
@use "fonts";

// Variables
// Miscellaneous
$fonts: "Roboto Condensed", sans-serif;
$gray: hsl(0, 0%, 50%);

// Dimensions
$page-margin: 20px;
$row-height: 4.6rem;

// Breakpoints
$header-vertical: 950px;
$header-merge: 775px;
$nav-collapse: 1270px;
$nav-sticky: 950px;
$main-shrink: 730px;
$bar-bottom: 600px;


// General
*, ::after, ::before { box-sizing: border-box }

html, body {
	height: 100vh;
	height: -webkit-fill-available;
}

body {
	background-color: black;
	display: flex;
	font-family: $fonts;
	margin: 0;

	@media (max-width: $bar-bottom) { flex-direction: column-reverse }
}

p {
	color: hsl(0, 0%, 60%);
	margin-top: 0;
}

@media (pointer: fine) {
	::-webkit-scrollbar {
		width: 10px;
		&-thumb { background-color: $gray }
	}
}


// Bar
// Container
.bar {
	border-right: 1px solid #252525;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	gap: 1.3rem;
	justify-content: space-between;
	overflow: auto;
	padding: 1rem 0.7rem;

	@media (max-width: $bar-bottom) {
		border-right: none;
		border-top: 1px solid #252525;
		flex-direction: initial;
		padding: 0.7rem 1rem;
	}
}

// Navigation
nav {
	display: flex;
	flex-direction: column;
	gap: 1.3em;
	justify-content: center;
	width: fit-content;
	z-index: 2;

	@media (max-width: $bar-bottom) {
		flex-direction: row;
		gap: 0.8rem;
	}
}

button {
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	border-radius: 15px;
	border: none;
	color: white;
	cursor: pointer;
	font-family: $fonts;
	font-size: 1rem;
	min-width: 3.5em;
	padding: 0.3em 0.7em;
	touch-action: none;
	transition-duration: 100ms;
	user-select: none;

	&.active {
		background-color: white;
		color: initial;
		cursor: initial;
	}

	&:not(.active):hover {
		background-color: #222;
		opacity: 0.7;
	}

	&:active { opacity: 1 }
}


// Schedule
// Wrapper
main {
	flex: 1 1 auto;
	position: relative;
}

// Container
article {
	height: 100%;
	overflow-y: auto;
	padding: $page-margin;
	position: absolute;
	top: 0;
	width: 100%;
	
	&:not(.active) {
		opacity: 0;
		z-index: -10;
	}

	> div {
		width: min(100%, 600px);
		margin: auto;

		@media (max-width: $header-vertical) { width: min(100%, 600px + 1.4rem) }
	}
}


// Calendar
// Container
section {
	position: relative;
	p + &:first-of-type { margin-top: 2.5rem !important }
	&:not(:first-of-type) { margin-top: -#{$row-height}; }
	&.no-margin { margin-top: 0 }
	@media (max-width: $header-vertical) { margin-left: 1.4rem }
}

// Header
h1 {
	color: white;
	font-size: 1.2rem;
	font-weight: 400;
	left: -1.2em;
	margin: 0;
	position: absolute;
	text-align: right;
	transform: translateX(-100%);

	span {
		color: $gray;
		display: block;
		font-family: "Bender", $fonts;
		font-size: 1rem;
	}

	@media (max-width: $header-vertical) {
		// letter-spacing adds extra space at the end.
		font-size: 0.9rem;
		left: -1.5em;
		letter-spacing: 0.3em;
		padding-left: 0.3em;
		text-transform: uppercase;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
		white-space: nowrap;

		span {
			display: initial;
			font-size: 0.9rem;
			letter-spacing: 0.2em;
			padding-right: 0.1em;
		}
	}
}

// Dates
.calendar {
	counter-reset: date;
	display: grid;
	grid-auto-rows: $row-height;
	grid-template-columns: repeat(7, 1fr);

	div {
		color: white;
		font-size: 0.75rem;
		grid-column-start: var(--grid-start);   // Set inline.

		&::after {
			content: counter(date);
			counter-increment: date;
		}

		&:first-child::after {
			background-color: white;
			border-radius: 50%;
			color: initial;
			margin-left: -0.5em;
			padding: 0.14em 0.5em;
		}
	}
}


// Events and episodes
// Container
.overlay {
	display: grid;
	grid-auto-rows: $row-height;
	grid-template-columns: repeat(14, 1fr);
	inset: 0;
	position: absolute;

	div:not(.episode) {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		font-size: 0.87rem;
		grid-column: var(--grid-column);   // Set inline.
		grid-row: var(--grid-row);   // Set inline.
		height: -moz-fit-content;
		height: fit-content;
		overflow: hidden;
		padding: 0.2em 0.5em;
		position: relative;
		scroll-margin-top: 7rem;
		scroll-padding-top: 2rem;   // scroll-margin breaks without this?
		text-overflow: ellipsis;
		top: 40%;
		white-space: nowrap;
		z-index: 1;

		&[title] { cursor: help }

		&:empty::after { content: "\00a0" }

		&.top, &.bottom {
			color: transparent;
			top: 28%;
			transform: scaleY(0.6);
			transition: transform 150ms, color 150ms;

			&.expand {
				color: initial;
				transform: none;
			}
		}

		&.bottom { top: 59% }

		@media (max-width: $nav-sticky) { scroll-margin-top: 5rem }
	}
}

.start {
	border-radius: 2px 0 0 2px;
	margin-left: 0.625rem;
}

.end {
	border-radius: 0 2px 2px 0;
	margin-right: 0.625rem;
	text-align: right;
}

@each $id, $color in events.$list {
	@include overlay($id, $color);
}

.episode {
	border: 0.18em solid white;
	color: white;
	filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.8));
	font-size: 1.4rem;
	font-weight: bold;
	grid-column: var(--grid-column);   // Set inline.
	grid-row: var(--grid-row);   // Set inline.
	left: 0.17em;
	line-height: 0.9;
	padding: 0.14em 0.09em 0.07em;
	place-self: center;
	position: relative;
	text-align: center;
	user-select: none;
	z-index: 1;

	@media (max-width: $main-shrink) {
		font-size: calc(0.5rem + 2.3vw);
		top: calc(1.1em - 3vw);
	}
}


// GitHub link
aside {
	display: grid;
	place-items: center;
}

a {
	-webkit-tap-highlight-color: transparent;
	background: center / contain no-repeat url("../images/closure.svg");
	border-radius: 50%;
	display: block;
	height: 1.8rem;
	transition: background-image 200ms ease-out, opacity 100ms;
	width: 1.8rem;

	&:hover {
		background-image: url("../images/github.svg");
		transition-duration: 300ms;
	}

	&:active {
		opacity: 0.6;
		transition-duration: 100ms;
	}
}
