@charset "UTF-8";
@use "mixins" as *;
@use "events";
@use "months";
@use "fonts";

// Variables
// Miscellaneous
$fonts: "Roboto Condensed", sans-serif;
$gray: hsl(0, 0%, 50%);

// Dimensions
$overlay-margin: 0.625rem;
// $overlay-margin: 3.25rem;
$page-margin: 20px;
$row-height: 4.6rem;

// Breakpoints
$header-vertical: 855px;
$header-merge: 695px;
$nav-collapse: 1270px;
$nav-sticky: 950px;
$main-shrink: 640px;


// General
*, ::after, ::before { box-sizing: border-box }

body {
	background-color: black;
	font-family: $fonts;
	margin: $page-margin;
}

main {
	margin: auto;
	width: min(100%, 600px);
}

article:not(.active) { display: none }

p { color: hsl(0, 0%, 60%) }

::-webkit-scrollbar {
	width: 10px;
	&-thumb { background-color: $gray }
}


// Navigation
nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4em;
	justify-content: center;
	left: $page-margin;
	position: fixed;
	top: $page-margin;
	width: fit-content;
	z-index: 2;

	@media (min-width: $nav-sticky) and (max-width: $nav-collapse) {
		flex-direction: column;
	}

	@media (max-width: $nav-sticky) {
		margin: 0 auto 1.4em auto;
		position: sticky;
	}
}

button {
	-webkit-tap-highlight-color: transparent;
	background-color: black;
	border-radius: 15px;
	border: 1px solid $gray;
	color: white;
	cursor: pointer;
	font-family: $fonts;
	font-size: 1rem;
	min-width: 3.5em;
	padding: 0.2em 0.7em;
	transition-duration: 100ms;
	user-select: none;

	&.active {
		background-color: white;
		border-color: white;
		color: initial;
	}

	@media (min-width: $nav-sticky) {
		&:hover { opacity: 0.8 }
		&:active { opacity: 0.9 }
	}
}


// Calendar
// Container
section {
	position: relative;
	p + &:first-of-type { margin-top: 2.5em !important }
	&:not(:first-of-type) { margin-top: -#{$row-height}; }
	&.no-margin { margin-top: 0 }
	@media (max-width: $header-merge) { margin-left: 1.4rem }
}

// Header
h1 {
	color: white;
	font-size: 1.2rem;
	font-weight: 400;
	left: -1.2em;
	margin: 0;
	position: absolute;
	text-align: right;
	transform: translateX(-100%);

	span {
		color: $gray;
		display: block;
		font-family: "Bender", $fonts;
		font-size: 1rem;
	}

	@media (max-width: $header-vertical) {
		// letter-spacing adds extra space at the end.
		font-size: 0.9rem;
		left: -1.5em;
		letter-spacing: 0.3em;
		padding-left: 0.3em;
		text-transform: uppercase;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
		white-space: nowrap;

		span {
			display: initial;
			font-size: 0.9rem;
			letter-spacing: 0.2em;
			padding-right: 0.1em;
		}
	}
}

// Dates
.calendar {
	counter-reset: date;
	display: grid;
	grid-auto-rows: $row-height;
	grid-template-columns: repeat(7, 1fr);

	div {
		grid-column-start: var(--grid-start);   // Set inline.

		&::after {
			color: white;
			content: counter(date);
			counter-increment: date;
			font-size: 0.75rem;
		}

		&:first-child::after {
			background-color: white;
			border-radius: 50%;
			color: initial;
			margin-left: -0.5em;
			padding: 0.14em 0.5em;
		}
	}
}


// Events
.overlay {
	display: grid;
	grid-auto-rows: $row-height;
	grid-template-columns: repeat(14, 1fr);
	inset: 0;
	position: absolute;

	div:not(.episode) {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		font-size: 0.87rem;
		grid-column: var(--grid-column);   // Set inline.
		grid-row: var(--grid-row);   // Set inline.
		height: -moz-fit-content;
		height: fit-content;
		overflow: hidden;
		padding: 0.2em 0.5em;
		position: relative;
		scroll-margin-top: 4.5rem;
		scroll-padding-top: 2rem;   // scroll-margin breaks without this?
		text-overflow: ellipsis;
		top: 2.4em;
		white-space: nowrap;
		z-index: 1;

		&[title] { cursor: help }

		&:empty::after { content: "\00a0" }

		&.top, &.bottom {
			transform: scaleY(0.6);
			top: 1.8em;
			transition-duration: 150ms;
			color: transparent;

			&.expand {
				transform: none;
				color: initial;
			}
		}

		&.bottom { top: calc(1.8em + 1.6em) }

		@media (max-width: $nav-sticky) { scroll-margin-top: 5rem }
	}
}


.start {
	border-radius: 2px 0 0 2px;
	margin-left: $overlay-margin;
}

.end {
	border-radius: 0 2px 2px 0;
	margin-right: $overlay-margin;
	text-align: right;
}

@each $id, $color in events.$list {
	@include overlay($id, $color);
}

.episode {
	// margin: 0.4em 0 0 0.3em;
	border: 0.18em solid white;
	color: white;
	filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.8));
	font-size: 1.4rem;
	font-weight: bold;
	grid-column: var(--grid-column);   // Set inline.
	grid-row: var(--grid-row);   // Set inline.
	left: 0.17em;
	line-height: 0.9;
	padding: 0.14em 0.1em 0.06em 0.09em;
	place-self: center;
	position: relative;
	text-align: center;
	top: 0.2em;
	user-select: none;
	z-index: 1;

	@media (max-width: $main-shrink) {
		font-size: calc(0.5rem + 2.3vw);
		top: calc(1.1em - 3vw);
	}
}


// GitHub link
a {
	-webkit-tap-highlight-color: transparent;
	background: center / contain no-repeat url("../images/closure.svg");
	border-radius: 50%;
	bottom: $page-margin;
	display: block;
	height: 50px;
	position: fixed;
	right: $page-margin;
	transition: background-image 200ms ease-out, opacity 100ms;
	width: 50px;

	&:hover {
		background-image: url("../images/github.svg");
		transition-duration: 300ms;
	}

	&:active {
		opacity: 0.6;
		transition-duration: 100ms;
	}

	@media (max-width: $header-vertical) {
		height: 40px;
		margin-top: 1.2rem;
		margin: auto;
		position: initial;
		width: 40px;
	}
}
