p This is a complete timeline of the CN schedule.
+section("May", 19, 5)
+section("June", 19, 6)
	+blank(4)
	.filled-3.gatkt.start
	.filled-7.gatkt
	.filled-4.gatkt.end
+section("July", 19, 5)
+section("August", 19, 5)
	+blank(7, 7, 7, 7, 2)
	.filled-5.hosf.start
+section("September", 19, 5)
	.filled-7.hosf
	.filled-3.hosf.end
+section("October", 19, 5)
	+blank(7, 7, 2)
	.filled-5.oi.start
	.filled-3.oi.end
+section("November", 19, 5)
	+blank(7, 7, 7, 2)
	.filled-5.cob-cc.start
	.filled-7.cob-cc
+section("December", 19, 5)
	.filled-3.cob-cc.end
+section("January", 20, 5)
	+blank(7, 4)
	.filled-3.af.start
	.filled-5.af.end
+section("February", 20, 5)
	+blank(7, 7, 7, 7, 2)
	.filled-5.soa.start
+section("March", 20, 5)
	.filled-3.soa.end
	+blank(4, 7, 2)
	.filled-5.cc0.start
	.filled-7.cc0
+section("April", 20, 5)
	.filled-3.cc0.end
	+blank(4, 7, 7, 2)
	.filled-5.dm.start
+section("May", 20, 6)
	.filled-7.dm
	.filled-7.dm
	.filled-6.dm.end
+section("June", 20, 5)
	+blank(2)
	.filled-5.cc1.start
	.filled-7.cc1
	.filled-3.cc1.end
	+blank(1)
	.filled-3.cou.start
	.filled-5.cou.end
+section("July", 20, 5)
	+blank(7, 4)
	.filled-3.tow.start
	.filled-7.tow
	.filled-5.tow.end
+section("August", 20, 6)
	+blank(2)
	.filled-5.cc2.start
	.filled-7.cc2
	.filled-25.cc2.end
	.filled-45.hosfr.start
	.filled-6.hosfr.end
	+blank(1, 2)
	.filled-5.gtgcr-cfm.start.italic(title="Gavial the Great Chief Returns: Ended on September 8, 2020")
+section("September", 20, 5)
	.filled-7.gtgcr-cfm
	.filled-25.gtgcr-cfm
	.filled-45.cfm
	.filled-3.cfm.end.label
	+blank(4, 4)
	.filled-3.rb.start
+section("October", 20, 5)
	.filled-45.rb.end
	.filled-25.gatktr.start(title="Grani and the Knights' Treasure Rerun")
	.filled-7.gatktr
	.filled-1.gatktr.end
	+blank(3)
	.filled-3.mn.start
	.filled-7.mn
	.filled-5.mn.end
+section("November", 20, 5)
	.filled-7.fmn.start.italic(title="Limited headhunting")
	.filled-7.fmn
	.filled-05.fmn.end
	.filled-65.cc3.start
	.filled-7.cc3
+section("December", 20, 5)
	.filled-1.cc3.end
	+blank(1)
	.filled-5.cobr.start
	.filled-6.cobr.end
	+blank(1, 4)
	.filled-3.mb.start
	.filled-7.mb
+section("January", 21, 6)
	.filled-5.mb.end
	+blank(2, 2)
	.filled-5.bh.start
	.filled-3.bh.end
	+blank(4, 2)
	.filled-5.cc4.start
	.filled-7.cc4
+section("February", 21, 5)
	.filled-3.cc4.end
	+blank(2)
	.filled-2.wir.start
	.filled-7.wir
	.filled-6.wir.end
+section("March", 21, 5)
	+blank(7, 2)
	.filled-5.ood-ridp.start
	.filled-7.ood-ridp
	.filled-3.ood-ridp.end
+section("April", 21, 5)
	+blank(2)
	.filled-5.dmr.start
	.filled-7.dmr
	.filled-3.dmr.end
	+blank(1)
	.filled-3.awitd.start
	.filled-7.awitd
+section("May", 21, 6)
	.filled-5.awitd.end
	+blank(1)
	.filled-1.ut.start(title="Under Tides")
	.filled-7.ut
	.filled-65.ut.end
	.filled-05.cc5.start(title="Contingency Contract #5")
	.filled-7.cc5
	.filled-7.cc5.end
+section("June", 21, 5)
	+blank(2)
	.filled-5.pl.start
	.filled-3.pl.end
	+blank(4, 4)
	.filled-3.towr.start
	.filled-7.towr
+section("July", 21, 5)
	.filled-1.towr.end
	+blank(4)
	.filled-2.hw.start
	.filled-6.hw.end
	+blank(1, 2)
	.filled-5.v.start
	.filled-25.v.end
	.filled-45.gtgcrr.start
	.filled-6.gtgcrr.end
+section("August", 21, 5)
	+blank(2)
	.filled-5.dh.start
	.filled-7.dh
	.filled-7.dh
	.filled-3.dh.end
	+blank(1)
	.filled-3.cc6.start
+section("September", 21, 5)
	.filled-7.cc6
	.filled-5.cc6.end
