article#cn
	p This is the complete history of the CN schedule.
	+section("May", 19, 5)
		.blank-7
		.blank-7
		.blank-7
		.blank-7
		.blank-4
		.filled-3.gatkt.start
	+section("June", 19, 6)
		.blank-4
		.filled-3.gatkt.start
		.filled-7.gatkt
		.filled-4.gatkt.end
	+section("July", 19, 5)
	+section("August", 19, 5)
		.blank-7
		.blank-7
		.blank-7
		.blank-7
		.blank-2
		.filled-5.hosf.start
	+section("September", 19, 5)
		.filled-7.hosf
		.filled-3.hosf.end
	+section("October", 19, 5)
		.blank-7
		.blank-7
		.blank-2
		.filled-5.oi.start
		.filled-3.oi.end
	+section("November", 19, 5)
		.blank-7
		.blank-7
		.blank-7
		.blank-2
		.filled-5.cob-cc.start
		.filled-7.cob-cc
	+section("December", 19, 5)
		.filled-3.cob-cc.end
	+section("January", 20, 5)
		.blank-7
		.blank-4
		.filled-3.af.start
		.filled-5.af.end
	+section("February", 20, 5)
		.blank-7
		.blank-7
		.blank-7
		.blank-7
		.blank-2
		.filled-5.soa.start
	+section("March", 20, 5)
		.filled-3.soa.end
		.blank-4
		.blank-7
		.blank-2
		.filled-5.cc0.start
		.filled-7.cc0
		.filled-3.cc0.end
	+section("April", 20, 5)
		.blank-7
		.blank-7
		.blank-7
		.blank-2
		.filled-5.dm.start
		.filled-55.dm
		.filled-15.dm-clw
	+section("May", 20, 6)
		.filled-55.dm
		.filled-15.dm-clw
		.filled-7.dm-clw
		.filled-6.dm-clw.italic.end(title="Cremation Last Wish: Started on May 1, 2020; Limited headhunting")
		.blank-7
		.blank-7
		.blank-2
		.filled-5.cc1.start
	+section("June", 20, 5)
		.blank-2
		.filled-5.cc1.start
		.filled-7.cc1
		.filled-3.cc1.end
		.blank-1
		.filled-3.cou.start
		.filled-5.cou.end
	+section("July", 20, 5)
		.blank-7
		.blank-4
		.filled-3.tow.start
		.filled-7.tow
		.filled-5.tow.end
		.blank-2
		.blank-2
		.filled-5.cc2.start
	+section("August", 20, 6)
		.blank-2
		.filled-5.cc2.start
		.filled-7.cc2
		.filled-25.cc2.end
		.filled-45.hosfr.start
		.filled-6.hosfr.end
		.blank-1
		.blank-2
		.filled-5.gtgcr-cfm.italic.start(title="Gavial the Great Chief Returns: Ended on September 8, 2020")
		.filled-7.gtgcr-cfm
	+section("September", 20, 5)
		.filled-7.gtgcr-cfm
		.filled-25.gtgcr-cfm
		.filled-45.cfm
		.filled-3.cfm.end
		.blank-4
		.blank-4
		.filled-3.rb.start
		.filled-5.rb.end
	+section("October", 20, 5)
		.filled-45.rb.end
		.filled-25.gatktr.start(title="Grani and the Knights' Treasure Rerun")
		.filled-7.gatktr
		.filled-1.gatktr.end
		.blank-3
		.filled-3.mn.start
		.filled-7.mn
		.filled-5.mn.end
	+section("November", 20, 5)
		.filled-7.fmn.italic.start(title="Limited headhunting")
		.filled-7.fmn
		.filled-05.fmn.end
		.filled-65.cc3.start
		.filled-7.cc3
		.filled-1.cc3.end
		.blank-1
		.filled-5.cobr.start
	+section("December", 20, 5)
		.filled-1.cc3.end
		.blank-1
		.filled-5.cobr.start
		.filled-6.cobr.end
		.blank-1
		.blank-4
		.filled-3.mb.start
		.filled-7.mb
		.filled-5.mb.end
	+section("January", 21, 6)
		.filled-5.mb.end
		.blank-2
		.blank-2
		.filled-5.bh.start
		.filled-3.bh.end
		.blank-4
		.blank-2
		.filled-5.cc4.start
		.filled-7.cc4
		.filled-3.cc4.end
	+section("February", 21, 5)
		.filled-3.cc4.end
		.blank-2
		.filled-2.wir.start
		.filled-7.wir
		.filled-6.wir.end
	+section("March", 21, 5)
		.blank-7
		.blank-2
		.filled-5.ood-ridp.start
		.filled-7.ood-ridp
		.filled-3.ood-ridp.end
		.blank-4
		.blank-2
		.filled-5.dmr.start
	+section("April", 21, 5)
		.blank-2
		.filled-5.dmr.start
		.filled-7.dmr
		.filled-3.dmr.end
		.blank-1
		.filled-3.awitd.start
		.filled-7.awitd
		.filled-5.awitd.end
		.blank-1
		.filled-1.ut.start(title="Under Tides")
	+section("May", 21, 6)
		.filled-5.awitd.end
		.blank-1
		.filled-1.ut.start(title="Under Tides")
		.filled-7.ut
		.filled-65.ut.end
		.filled-05.cc5.start(title="Contingency Contract #5")
		.filled-7.cc5
		.filled-7.cc5.end
		.blank-2
		.filled-5.pl.start
	+section("June", 21, 5)
		.blank-2
		.filled-5.pl.start
		.filled-3.pl.end
		.blank-4
		.blank-4
		.filled-3.towr.start
		.filled-7.towr
		.filled-1.towr.end
