article#en
	p This is the complete history of the EN schedule.
	+section("February", 20, 5)
		+blank(7, 3)
		.filled-4.gatkt.start
		.filled-7.gatkt
		.filled-4.gatkt.end
	+section("March", 20, 5)
		+blank(7, 7, 7, 3)
		.filled-4.oi.start
		.filled-4.oi.end
	+section("April", 20, 5)
		.filled-4.oi.end
		+blank(3, 7, 7, 7, 3)
		.filled-4.hosf.start
	+section("May", 20, 6)
		+blank(3)
		.filled-4.hosf.start
		.filled-7.hosf
		.filled-4.hosf.end
		+blank(3, 7, 3)
		.filled-4.cob.start
		.filled-7.cob
	+section("June", 20, 5)
		.filled-7.cob
		.filled-4.cob.end
		+blank(1)
		.filled-2.cc.start
		.filled-7.cc
		.filled-6.cc.end
	+section("July", 20, 5)
		+blank(7, 7, 7, 7, 3)
		.filled-4.af.start
	+section("August", 20, 6)
		+blank(3)
		.filled-4.af.start
		.filled-4.af.end
		+blank(3, 7, 7, 3)
		.filled-4.soa.start
		.filled-4.soa.end
	+section("September", 20, 5)
		.filled-4.soa.end
		+blank(3, 4)
		.filled-3.cc0.start
		.filled-7.cc0
		.filled-5.cc0.end
		+blank(2, 2)
		.filled-5.cou.start
	+section("October", 20, 5)
		+blank(2)
		.filled-5.cou.start
		.filled-3.cou.end
		+blank(4, 7, 7, 3)
		.filled-4.tow.start
	+section("November", 20, 5)
		.filled-7.tow
		.filled-35.tow.end
		.filled-35.cc1.start
		.filled-7.cc1
		.filled-4.cc1.end
		.filled-3.gatktr.start
		.filled-7.gatktr
	+section("December", 20, 5)
		.filled-7.gatktr
		.filled-1.gatktr.end(title="Grani and the Knights' Treasure Rerun")
		+blank(3)
		.filled-3.dm.start
		.filled-7.dm
		.filled-7.dm
		.filled-5.dm.end
	+section("January", 21, 6)
		.filled-5.dm.end
		+blank(2, 7, 7, 3)
		.filled-4.hosfr.start
		.filled-7.hosfr.end
		+blank(4)
		.filled-3.cc2.start
	+section("February", 21, 5)
		+blank(4)
		.filled-3.cc2.start
		.filled-7.cc2
		.filled-5.cc2.end
		+blank(2, 4)
		.filled-3.gtgcr-cfm.start.italic(title!="Gavial the Great Chief Returns + Ceobe's Fungi Mist&#10;Gavial the Great Chief Returns: Ended on March 11, 2021")
		.filled-7.gtgcr-cfm
	+section("March", 21, 5)
		.filled-7.gtgcr-cfm
		.filled-45.gtgcr-cfm
		.filled-25.cfm
		.filled-5.cfm.end
		+blank(2, 4)
		.filled-3.rb.start
		.filled-5.rb.end
	+section("April", 21, 5)
		.filled-5.rb.end
		+blank(2, 4)
		.filled-3.mn.start
		.filled-7.mn
		.filled-5.mn.end
		+blank(2, 5)
		.filled-2.fmn.start.italic(title="Limited headhunting")
	+section("May", 21, 6)
		+blank(5)
		.filled-2.fmn.start.italic(title="Limited headhunting")
		.filled-7.fmn
		.filled-55.fmn.end
		.filled-15.cobr.start(title="Code of Brawl Rerun")
		.filled-7.cobr
		.filled-2.cobr.end
		+blank(3)
		.filled-2.cc3.start
		.filled-7.cc3
	+section("June", 21, 5)
		.filled-7.cc3
		.filled-6.cc3.end
		+blank(1, 7, 2)
		.filled-5.mb.start
		.filled-7.mb
	+section("July", 21, 5)
		.filled-7.mb
		.filled-3.mb.end
