p This is a tentative projection based on the CN schedule and past trends which will be updated to reflect new information as it becomes available.
+section("October", 2021, 6)
	+blank(4)
	.filled-3.awitd.start
	.filled-7.awitd
	.filled-5.awitd.end
	+blank(2, 4)
	.filled-3.ut.start
	.filled-7.ut
+section("November", 2021, 5)
	.filled-45.ut.end
	.filled-25.cc5.start(title="Contingency Contract #5: Operation Spectrum")
	.filled-7.cc5
	.filled-5.cc5.end
	+blank(2, 2)
	.filled-5.pl.start
	.filled-3.pl.end
+section("December", 2021, 5)
	+blank(4)
	.filled-3.towr.start
	.filled-7.towr
	.filled-1.towr.end
	+blank(3)
	.filled-3.hw.start
	.filled-5.hw.end
+section("January", 2022, 6)
	+blank(2)
	.filled-5.v.start
	.filled-25.v.end
	.filled-45.gtgcrr.start
	.filled-6.gtgcrr.end
	+blank(1, 2)
	.filled-5.dh.start
	.filled-7.dh
+section("February", 2022, 5)
	.filled-7.dh
	.filled-3.dh.end
	+blank(4, 2)
	.filled-5.cc6.start
	.filled-7.cc6
+section("March", 2022, 5)
	.filled-3.cc6.end
	+blank(4, 7, 7, 4)
+section("April", 2022, 5)
	+blank(2)
	.filled-5.mnr.start
	.filled-6.mnr.end
	+blank(1, 4)
	.filled-3.ps.start
	.filled-5.ps.end
