p This is a tentative projection based on the CN schedule and past trends which will be updated to reflect new information as it becomes available.
p It is currently difficult to make any solid predictions due to the new summer limited operator. The current projection assumes a worst-case scenario where Under Tides is not delayed until the second anniversary.
+section("September", 21, 5, true)
	.filled-4.ood-dp.end.label
	+blank(1)
	.filled-2.dmr.start
	.filled-7.dmr
	.filled-6.dmr.end
	+blank(1, 3)
	.filled-4.awitd.start
+section("October", 21, 6, true)
	.filled-7.awitd
	.filled-35.awitd.end
	.filled-35.ut.start
	.filled-7.ut
	.filled-4.ut.end
	+blank(1)
	.filled-2.cc5.start(title="Contingency Contract #5: Spectrum")
	.filled-7.cc5
	.filled-6.cc5.end
//- +section("November", 21, 5, true)
//- 	+blank(1, 3)
//- 	.filled-4.pl.start
//- 	.filled-4.pl.end
//- 	+blank(1)
//- 	.filled-2.towr.start(title="Twilight of Wolumonde Rerun")
//- 	.filled-7.towr
//- +section("December", 21, 5, true)
//- 	.filled-2.towr.end
//- 	+blank(1)
//- 	.filled-4.hw.start
//- 	.filled-4.hw.end
//- 	+blank(1)
//- 	.filled-2.v.start
//- 	.filled-55.v.end
//- 	.filled-15.gtgcrr.start(title="Gavial the Great Chief Returns Rerun")
//- 	.filled-7.gtgcrr
//- +section("January", 22, 6)
//- 	.filled-2.gtgcrr.end
//- 	+blank(3)
//- 	.filled-2.dh.start
//- 	.filled-7.dh
//- 	.filled-7.dh
//- 	.filled-6.dh.end
//- 	+blank(1, 3)
//- 	.filled-4.cc6.start
//- +section("February", 22, 5)
//- 	.filled-7.cc6
//- 	.filled-4.cc6.end
