p This is a tentative projection based on the CN schedule and past trends which will be updated to reflect new information as it becomes available.
+section("July", 21, 5, true)
	.filled-7.mb
	.filled-25.mb.end.label
	.filled-45.bh.start
	.filled-25.bh.end
	.filled-45.cc4.start
	.filled-7.cc4
	.filled-3.cc4.end
	+blank(2)
	.filled-2.wir.start
+section("August", 21, 5, true)
	.filled-7.wir
	.filled-6.wir.end
	+blank(1, 3)
	.filled-4.ood-ridp.start(title="Operation Originium Dust + Rhodes Island Defence Protocols")
	.filled-7.ood-ridp
+section("September", 21, 5, true)
	.filled-4.ood-ridp.end
	+blank(3, 3)
	.filled-4.towr.start
	.filled-7.towr.end
	+blank(3)
	.filled-4.pl.start
+section("October", 21, 6, true)
	.filled-4.pl.end
	+blank(3, 3)
	.filled-4.dmr.start
	.filled-7.dmr
	.filled-4.dmr.end
	+blank(3, 3)
	.filled-4.hw.start
+section("November", 21, 5, true)
	.filled-4.hw.end
	+blank(3, 3)
	.filled-4.v.start
	.filled-4.v.end
	+blank(1)
	.filled-2.gtgcrr.start(title="Gavial the Great Chief Returns Rerun")
	.filled-7.gtgcrr
+section("December", 21, 5, true)
	.filled-2.gtgcrr.end
	+blank(1)
	.filled-4.cc5.start
	.filled-7.cc5
	.filled-35.cc5.end
	.filled-35.awitd.start
	.filled-7.awitd
	.filled-4.awitd.end
	+blank(1)
	.filled-2.ut.start
