p This is a tentative projection based on the CN schedule and past trends which will be updated to reflect new information as it becomes available.
+section("September", 2021, 5, true)
	.filled-4.ood-dp.end.label
	+blank(3, 2)
	.filled-5.dmr.start
	.filled-6.dmr.end
	+blank(1, 5)
	.filled-2.awitd.start
+section("October", 2021, 6, true)
	.filled-7.awitd
	.filled-55.awitd.end
	.filled-15.ut.start
	.filled-7.ut
	.filled-55.ut.end
	.filled-15.cc5.start(title="Contingency Contract #5: Operation Spectrum")
	.filled-7.cc5
+section("November", 2021, 5, true)
	.filled-6.cc5.end
	+blank(1, 2)
	.filled-5.pl.start
	.filled-3.pl.end
	+blank(2)
	.filled-2.towr.start(title="Twilight of Wolumonde Rerun")
	.filled-7.towr
+section("December", 2021, 5, true)
	.filled-2.towr.end
	+blank(3)
	.filled-2.hw.start
	.filled-6.hw.end
	+blank(1, 2)
	.filled-5.v.start
	.filled-25.v.end
	.filled-45.gtgcrr.start(title="Gavial the Great Chief Returns Rerun")
+section("January", 2022, 6)
	.filled-55.gtgcrr.end
	.filled-15.dh.start
	.filled-7.dh
	.filled-7.dh
	.filled-6.dh.end
	+blank(1, 2)
	.filled-5.cc6.start
+section("February", 2022, 5)
	.filled-7.cc6
	.filled-3.cc6.end
	+blank(4, 2)
	.filled-5.e9.start.italic(title="Placeholder")
	.filled-7.e9
+section("March", 2022, 5)
	.filled-3.e9.end
	+blank(2)
	.filled-2.mnr.start
	.filled-7.mnr 
	.filled-2.mnr.end
	+blank(3)
	.filled-2.ps.start 
	.filled-6.ps.end
