article#pr.selected
	p This is a projection based on the CN schedule and will be updated to reflect new information as it becomes available. The actual schedule will most certainly differ from what is displayed.
	+section("June", 21, 5, true)
		.filled-7.cc3
		.filled-6.cc3.end
		.blank-1
		.blank-7
		.blank-2
		.filled-5.mb.start
		.filled-7.mb
	+section("July", 21, 5, true)
		.filled-7.mb
		.filled-3.mb.end
		.blank-4
		.blank-2
		.filled-5.bh.start
		.filled-3.bh.end
		.blank-4
		.blank-4
		.filled-3.wir.start
	+section("August", 21, 5, true)
		.filled-7.wir
		.filled-45.wir.end
		.filled-25.cc4.start
		.filled-7.cc4
		.filled-5.cc4.end
		.blank-2
		.blank-2
		.filled-5.ood-ridp.start
	+section("September", 21, 5, true)
		.blank-2
		.filled-5.ood-ridp.start
		.filled-7.ood-ridp
		.filled-3.ood-ridp.end
		.blank-4
		.blank-2
		.filled-5.dmr.start
		.filled-7.dmr
	+section("October", 21, 6, true)
		.filled-7.dmr
		.filled-3.dmr.end
		.blank-4
		.blank-2
		.filled-5.pl.start
		.filled-3.pl.end
		.blank-4
		.blank-4
		.filled-3.towr.start
		.filled-7.towr
	+section("November", 21, 5, true)
		.filled-7.towr
		.filled-1.towr.end(title="Twilight of Wolumonde Rerun")
		.blank-6
		.blank-4
		.filled-3.cc5.start
		.filled-7.cc5
		.filled-5.cc5.end
	+section("December", 21, 5, true)
		.filled-5.cc5.end
		.blank-4
		.filled-3.awitd.start
		.filled-7.awitd
		.filled-5.awitd.end
		.blank-2
		.blank-4
		.filled-3.ut.start
	+section("January", 22, 6)
		.blank-4
		.filled-3.ut.start
		.filled-7.ut
		.filled-5.ut.end
