p This is a tentative projection based on the CN schedule and past trends which will be updated to reflect new information as it becomes available.
+section("July", 21, 5, true)
	.filled-7.mb
	.filled-25.mb.end.label
	.filled-45.bh.start
	.filled-25.bh.end
	.filled-45.cc4.start
	.filled-7.cc4
	.filled-3.cc4.end
	+blank(1)
	.filled-3.wir.start
+section("August", 21, 5, true)
	.filled-7.wir
	.filled-5.wir.end
	+blank(2, 2)
	.filled-5.towr.start
	.filled-6.towr.end
+section("September", 21, 5, true)
	+blank(2)
	.filled-5.ood-ridp.start
	.filled-7.ood-ridp
	.filled-3.ood-ridp.end
	+blank(4, 2)
	.filled-5.dmr.start
+section("October", 21, 6, true)
	.filled-7.dmr
	.filled-3.dmr.end
	+blank(4, 2)
	.filled-5.pl.start
	.filled-3.pl.end
	+blank(4, 2)
	.filled-5.hw.start
+section("November", 21, 5, true)
	.filled-3.hw.end
	+blank(4, 2)
	.filled-5.v.start
	.filled-3.v.end
	+blank(1)
	.filled-3.gtgcrr.start
	.filled-7.gtgcrr
+section("December", 21, 5, true)
	.filled-1.gtgcrr.end
	+blank(1)
	.filled-5.cc5.start
	.filled-7.cc5
	.filled-25.cc5.end
	.filled-45.awitd.start
	.filled-7.awitd
	.filled-3.awitd.end
	+blank(1)
	.filled-3.ut.start

//- +section("January", 22, 6)
//- 	.filled-3.awitd.end
//- 	+blank(1)
//- 	.filled-3.ut.start
//- 	.filled-7.ut
//- 	.filled-5.ut.end

//- 	.filled-5.towr.start
//- 	.filled-6.towr.end
//- +section("October", 21, 6, true)
//- 	.filled-6.towr.end
//- 	+blank(1, 2)
//- 	.filled-5.pl.start
//- 	.filled-3.pl.end
//- 	+blank(4, 4)
//- 	.filled-3.dmr.start
//- 	.filled-7.dmr
//- 	.filled-5.dmr.end
//- +section("November", 21, 5, true)
//- 	.filled-5.dmr.end
