p This is a tentative projection based on the CN schedule and past trends which will be updated to reflect new information as it becomes available.
+section("October", 2021, 6)
	+blank(4)
	.filled-3.awitd.start
	.filled-7.awitd
	.filled-5.awitd.end
	+blank(1)
	.filled-1.ut.start(title="Under Tides")
	.filled-7.ut
	.filled-65.ut.end
	.filled-05.cc5.start(title="Contingency Contract #5: Operation Spectrum")
+section("November", 2021, 5)
	.filled-7.cc5
	.filled-7.cc5.end
	+blank(2)
	.filled-5.pl.start
	.filled-25.pl.end
	.filled-45.towr.start
+section("December", 2021, 5)
	.filled-6.towr.end
	+blank(1, 2)
	.filled-5.hw.start
	.filled-25.hw.end
	.filled-45.v.start
	.filled-25.v.end
	.filled-45.gtgcrr.start
+section("January", 2022, 6)
	.filled-55.gtgcrr.end
	.filled-15.dh.start
	.filled-7.dh
	.filled-7.dh
	.filled-6.dh.end
	+blank(1, 2)
	.filled-5.cc6.start
+section("February", 2022, 5)
	.filled-7.cc6
	.filled-3.cc6.end
+section("March", 2022, 5)
	+blank(4)
	.filled-3.mnr.start
	.filled-7.mnr
	.filled-1.mnr.end
	+blank(1)
	.filled-5.ps.start
	.filled-3.ps.end
