include _mixins

doctype html
html(lang="en")
	head
		title Arknights Calendar
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Various event schedules of Arknights")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(rel="stylesheet" href="scss/dist/styles.css")
		link(rel="stylesheet" href!="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap")
		link(rel="icon" href="images/calendar.svg")
		script(src="js/scripts.js" defer)
	body
		nav
			button(type="button" name="pr").selected Projection
			button(type="button" name="cn") Past CN
			button(type="button" name="en") Past EN
		main
			article#pr.selected
				include _pr
			article#cn
				include _cn
			article#en
				include _en
		aside
			a(href="https://github.com/jaywyeee/arknights-calendar" aria-label="GitHub")
