include table

doctype html
html(lang="en")
	head
		title Arknights Calendar
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Calendar displaying a prediction of the future event schedule in Arknights")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" href="scss/styles.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap")
		link(rel="icon" href="svg/favicon.svg")
	body
		main
			p This is a projection based on the CN schedule and will be updated to reflect new information as it becomes available. This projection ends at Who is Real. The schedule following it is merely a 1:1 clone of the CN schedule and the actual schedule will most certainly differ from what is displayed.
			//- header April
			//- .apr-21.row-5
				+table(5)
				.events
					.filled-5.rb.end
					.blank-2
					.blank-4
					.filled-3.mn.start
					.filled-7.mn
					.filled-5.mn.end
					.blank-2
					.blank-5
					.filled-2.fmn.start
			header May
			.may-21.row-6
				+table(6)
				.events
					.blank-5
					.filled-2.fmn.start
					.filled-7.fmn
					.filled-55.fmn.end
					.filled-15.cobr.start(title="Code of Brawl Rerun")
					.filled-7.cobr
					.filled-2.cobr.end
					.blank-2
					.filled-3.cc3.start
					.filled-7.cc3
			header June
			.jun-21.row-5
				+table(5)
				.events
					.filled-7.cc3
					.filled-5.cc3.end
					.blank-2
					.blank-4
					.filled-3.mb.start
					.filled-7.mb
					.filled-5.mb.end
					.blank-2
			header July
			.jul-21.row-5
				+table(5)
				.events
					.filled-5.mb.end
					.blank-2
					.blank-2
					.filled-5.bh.start
					.filled-3.bh.end
					.blank-1
					.filled-3.cc4.start
					.filled-7.cc4
					.filled-45.cc4.end
					.filled-25.wir.start
			header August
			.aug-21.row-5
				+table(5)
				.events
					.filled-7.wir
					.filled-5.wir.end
					.blank-2
					.blank-7
					.blank-7
					.blank-2
					.filled-5.ood.start
			header September
			.sep-21.row-5
				+table(5)
				.events
					.blank-2
					.filled-5.ood.start
					.filled-7.ood
					.filled-3.ood.end
					.blank-4
					.blank-2
					.filled-5.dmr.start
					.filled-7.dmr
			header October
			.oct-21.row-6
				+table(6)
				.events
					.filled-7.dmr
					.filled-3.dmr.end
					.blank-1
					.filled-3.awitd.start
					.filled-7.awitd
					.filled-5.awitd.end
					.blank-1
					.filled-1.ut.start(title="Under Tides")
					.filled-7.ut
					.filled-65.ut.end
					.filled-05.cc5.start(title="Contingency Contract #5")
			header November
			.nov-21.row-5
				+table(5)
				.events
					.filled-65.ut.end
					.filled-05.cc5.start(title="Contingency Contract #5")
					.filled-7.cc5
					.filled-7.cc5.end
					.blank-7
					.blank-7
		a(href="https://github.com/jaywyeee/arknights-calendar")