include _mixins

doctype html
html(lang="en")
	head
		title Arknights Calendar
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Calendar displaying a projection of the future event schedule in Arknights")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" href="scss/dist/styles.css")
		link(rel="stylesheet" href!="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap")
		script(src="js/scripts.js")
		link(rel="icon" href="svg/favicon.svg")
	body
		nav
			button(type="button" name="pr").selected Projection
			button(type="button" name="cn") Past CN
			button(type="button" name="en") Past EN
		main
			include _pr
			include _cn
			include _en
		aside
			a(href="https://github.com/jaywyeee/arknights-calendar")
