mixin table-5
	- const rows = [1, 2, 3, 4, 5]
	table.dates
		tbody
			each i in rows
				tr
					td
					td
					td
					td
					td
					td
					td

mixin table-6
	- const rows = [1, 2, 3, 4, 5, 6]
	table.dates
		tbody
			each i in rows
				tr
					td
					td
					td
					td
					td
					td
					td